extends layout
include _includes/sharedHTMLfunctions

block content
  .row.banner
    .col-12
      h1= pageHeader.title
        small &nbsp;#{pageHeader.strapline}
  .row
    .col-12.col-md-8
      .error= message

      app-home-list
    //-
      each location in locations
        .card
          .card-block
            h4
              a(href=`/location/${location._id}`)= location.name
              small &nbsp;
                +outputRating(location.rating)
              span.badge.badge-pill.badge-default.float-right= location.distance
          p.address= location.address
          .facilities
            each facility in location.facilities
              span.badge.badge-warning= facility
    .col-12.col-md-4
      p.lead Looking for wifi and a seat? Loc8r helps you find places to work when out and about. Perhaps with coffee, cake or a pint? Let Loc8r help you find the place you're looking for.
block scripts
  script(src='/build/runtime-es5.ee0aae13fb762b150814.js')
  script(src='/build/polyfills-es5.38c6da221291b284e1c4.js')
  script(src='/build/main-es5.493cd3880e7563471382.js')